---
// const capitulos = ["aquele que o abismo viu", "nossa morte lenta",
//                 "palavras ao vento", "ponto sem retorno",
//                 "dualidade", "entre mentes",
//                 "rio de janeiro", "participio",
//                 "sejam as trevas eternas", "coração de lata"
//                 ];

const { title } = Astro.props;
const pathToMyFeaturedPost = `${title}`;

const posts = await Astro.glob('../pages/**/*.{md,mdx}');
const capitulos = posts.filter(post => post.file.includes(pathToMyFeaturedPost));

---


<!-- <div class="max-w-md mx-auto lg:pt-4">
    <button id="dropdownUsersButton"
            data-dropdown-toggle="dropdownUsers"
            data-dropdown-placement="bottom"
            class="border text-white bg-blue-700 hover:bg-zinc-800 text-sm lg:text-base lg:px-4 lg:py-2.5 text-center flex items-center space-x-1 dark:bg-zinc-800 dark:border-zinc-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500 lg:font-medium"
            type="button">
        <span class="flex-grow">capitulos</span>
        <svg class="w-4 h-4 lg:w-2.5 lg:h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
    </button> -->
<!-- Dropdown menu -->
<div class="max-w-md mx-10 lg:pt-4">
    <button id="dropdownUsersButton" data-dropdown-toggle="dropdownUsers" data-dropdown-placement="bottom" class="inline-flex items-center border text-white bg-blue-700 hover:bg-zinc-800 text-xs pl-6 pr-3 py-1 sm:pl-8 sm:pr-6 sm:py-1 sm:text-base lg:text-base lg:mx-80 lg:pl-8 lg:pr-6 lg:py-1 text-left dark:bg-zinc-800 dark:border-zinc-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500 lg:font-medium" type="button">
        .....
        <svg class="w-2 h-2 ms-24 sm:ms-96" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 1 4 4 4-4"/>
        </svg>
    </button>
    
    <div id="dropdownUsers" class="absolute z-10 bg-white shadow hidden w-60 lg:w-search lg:ml-80 dark:bg-zinc-700">
        <ul class="overflow-y-auto text-gray-700 dark:text-gray-200 lg:h-64" aria-labelledby="dropdownUsersButton">    
            {capitulos.map((capitulo, index) => 
            <li>
                <a href={`/${title}/cap${index}`} class="flex items-center pl-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                    {index}: {capitulo.frontmatter.chapterTitle}
                </a>
            </li>
            )}
        </ul>
    </div>
</div>


<!-- <img class="w-6 h-6 me-2 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Jese image"> -->



<!-- <div class="max-w-md mx-auto flex">
    <select id="capitulos" class=" overflow-y-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-zinc-700 block w-full p-2.5 dark:bg-zinc-800 dark:border-zinc-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500">
        <option selected>....</option>
        {tags.map((tag) => 
				<option value={`gilgamesh/${tag}`}>{tag}</option>)}
    </select>
    <button id="GO" class="  font-bold py-2 px-4 mx-3 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-zinc-800 dark:border-zinc-500 dark:placeholder-gray-400 dark:text-white">
                    GO
    </button>
</div>



<script>
        document.getElementById('GO').addEventListener('click', function() {
            const selectedChapter = document.getElementById('capitulos').value;
            if (selectedChapter) {
                window.location.href = selectedChapter;
            } else {
                alert('Por favor, selecione um capítulo.');
            }
        });
    </script>
</div> -->

<script>
        document.getElementById('dropdownUsersButton').addEventListener('click', function() {
    var dropdown = document.getElementById('dropdownUsers');
    dropdown.classList.toggle('hidden');
});

// Event listener global para detectar cliques fora do dropdown
document.addEventListener('click', function(event) {
    var dropdown = document.getElementById('dropdownUsers');
    var target = event.target as HTMLElement; // Cast event.target to HTMLElement
    if (!dropdown.classList.contains('hidden') && !dropdown.contains(target) && target.id !== 'dropdownUsersButton') {
        dropdown.classList.add('hidden');
    }
});


</script>